.square-component {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    background-color: white;
}

.background-menu-container {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 25rem;
    height: 9rem;
    border-radius: 1rem 1rem 0 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.background-menu-container div {
    width: 8rem;
    flex: 1;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}